.bookmark_outer {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.bookmark_outer * {
    pointer-events: none;
}

.bookmark_inner {
    scale: 150%;
}

.filled {
    color: #747779;
}

.outlined {
    color: #747779;;
}