#bookmark_outer {
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.bookmark_inner {
    scale: 150%;
}

.filled {
    color: rgb(255, 218, 17);
}

.outlined {
    color: #747779;;
}