.slider:after {
    display: none;
    content: '';
    position: absolute;
    right: 0;
    margin-left: -40px;
    width: 40px;
    height: 100%;
    top: 0px;
    background: linear-gradient(to right, rgba(240, 244, 245, 0), rgba(240, 244, 245, 1));
}

.showmore {
    position: absolute;
    bottom: 88px;
    scale: 1.5;
    background: rgb(69, 69, 69, 0.7);
}

.showmore:hover {
    background: rgb(69, 69, 69, 0.9)
}

.showmore.right {
    right: 30px;
}

.showmore.left {
    left: 30px;
}