#recompic > div:not(.bookmark_outer) {
    width: 100%;
    height: 100%;
}

#recompic {
    height: 120px;
}

.courselink > .ant-typography {
    color: #424242;
}

#recom {
    max-width: 240px;
    max-height: 185px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out 0s;
}

#recom:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.15s ease-in-out 0s;
}
