body {
    margin: 0;
}

.ant-layout-header {
    display: flex;
    background: inherit;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
    padding: 0px;
    z-index: 1000;
    position: sticky;
    top: 0px;
    height: 100%;
}

.ant-layout-footer {
    text-align: center;
}